body {
    background: linear-gradient(white, gold);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
}
img {
    width: 300px;
}
.bio {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.bio-part-1 {
    margin: 10px;
}
.bio-part-2 {
    margin: 10px;
}
.images {
    margin: 20px;
}
.projects {
    margin: 20px;
}
.networks {
    margin: 20px;
}
.icons {
    width: 100px;
}

@media (min-width: 800px) {
    .bio-part-1 {
        display: flex;
        flex-direction: row;
    }
    .bio-part-2 {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* .green {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    width: 100px;
    height: 100px;
}
.red {
    background-color: red;
    width: 100px;
    height: 100px;
    align-self: flex-end;
}
.flex-container {
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* @media (max-width: 550px) {
    body {
        color: red;
    }
} */